{% extends '_base.html' %}

{% load static %}
{% load crispy_forms_tags %}
{% load comment_tags %}
{% load i18n %}

{% block title %}Product Detail{% endblock %}
{% block content %}
    <!-- Main Content Wrapper Start -->
    <div class="main-content-wrapper">
        <div class="page-content-inner ptb--80">
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 mb-md--50">
                        <form class="cart-form" action="#">
                            <div class="row no-gutters">
                                <div class="col-12">
                                    <div class="table-content table-responsive">
                                        <table class="table text-center">
                                            <thead>
                                            <tr>
                                                <th>&nbsp;</th>
                                                <th>عکس محصول</th>
                                                <th class="text-left">نام محصول</th>
                                                <th>قیمت</th>
                                                <th>مقدار</th>
                                                <th>مجموع</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            {% for item in cart %}
                                                <tr>
                                                    <td class="product-remove text-left"><a href=""><i
                                                            class="flaticon flaticon-cross"></i></a></td>
                                                    <td class="product-thumbnail text-left">
                                                        <img src="assets/img/products/prod-10-70x88.jpg"
                                                             alt="Product Thumnail">
                                                    </td>
                                                    <td class="product-name wide-column">
                                                        <h3>
                                                            <a href="product-details.html">
                                                                {{ item.product_obj.title }}
                                                            </a>
                                                        </h3>
                                                    </td>
                                                    <td class="product-price">
                                                                <span class="product-price-wrapper">
                                                                    <span class="money">۱۴۸,۰۰۰ تومان</span>
                                                                </span>
                                                    </td>
                                                    <td class="product-quantity">
                                                        <div class="quantity">
                                                            <input type="number" class="quantity-input" name="qty"
                                                                   id="qty-1" value="2" min="1">
                                                        </div>
                                                    </td>
                                                    <td class="product-total-price">
                                                                <span class="product-price-wrapper">
                                                                    <span class="money">۲۹۶,۰۰۰ تومان</span>
                                                                </span>
                                                    </td>
                                                </tr>
                                            {% endfor %}
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                            <div class="row no-gutters border-top pt--20 mt--20">
                                <div class="col-sm-6 text-sm-right">
                                    <button type="submit" class="cart-form__btn">خالی کردن سبد خرید</button>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="col-lg-4">
                        <div class="cart-collaterals">
                            <div class="cart-totals">
                                <h5 class="font-size-14 font-bold mb--15">مجموع</h5>
                                <div class="cart-calculator">
                                    <div class="cart-calculator__item">
                                        <div class="cart-calculator__item--head">
                                            <span>مجموع</span>
                                        </div>
                                        <div class="cart-calculator__item--value">
                                            <span>۳۴۶,۰۰۰ تومان</span>
                                        </div>
                                    </div>
                                    <div class="cart-calculator__item order-total">
                                        <div class="cart-calculator__item--head">
                                            <span>جمع کل</span>
                                        </div>
                                        <div class="cart-calculator__item--value">
                                                <span class="product-price-wrapper">
                                                    <span class="money">۳۴۶,۰۰۰ تومان</span>
                                                </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <a href="checkout.html" class="btn btn-fullwidth btn-bg-red btn-color-white btn-hover-2">
                                ثبت سفارش
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Main Content Wrapper Start -->

{% endblock %}