{% extends '_base.html' %}

{% load static %}
{% load crispy_forms_tags %}
{% load comment_tags %}
{% load i18n %}
{% load humanize %}

{% load persian_traslation_tags %}

{% block title %}Product Detail{% endblock %}
{% block content %}

    {% trans 'Cart' as Cart %}
    {% include 'top_header.html' with header_name=Cart %}

    <!-- Main Content Wrapper Start -->
    <div class="main-content-wrapper">
        <div class="page-content-inner ptb--80">
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 mb-md--50">
                        <div class="row no-gutters">
                            <div class="col-12">
                                {% if cart %}
                                    <div class="table-content table-responsive">
                                        <table class="table text-center">
                                            <thead>
                                            <tr>
                                                <th>&nbsp;</th>
                                                <th>{% trans 'Product Photo' %}</th>
                                                <th>{% trans 'Product Name' %}</th>
                                                <th>{% trans 'Product Price' %}</th>
                                                <th>{% trans 'Product Quantity' %}</th>
                                                <th>{% trans 'Total' %}</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            {% for item in cart %}
                                                <tr>
                                                    <td class="product-remove text-left">
                                                        <a href="{% url 'cart:cart_remove' item.product_obj.id %}">
                                                            <i class="flaticon flaticon-cross"></i>
                                                        </a>
                                                    </td>
                                                    <td class="product-thumbnail text-left">
                                                        <img class="m-auto" style="max-height: 400px;"
                                                             src="{{ item.product_obj.image.url }}" alt="">
                                                    </td>
                                                    <td class="product-name">
                                                        <h3>
                                                            <a href="{{ item.product_obj.get_absolute_url }}">
                                                                {{ item.product_obj.title }}
                                                            </a>
                                                        </h3>
                                                    </td>
                                                    <td class="product-price">
                                                                <span class="product-price-wrapper">
                                                                    <span class="money">
                                                                        {{ item.product_obj.price|intcomma:False|translate_number }}
                                                                        {% trans '$' %}
                                                                    </span>
                                                                </span>
                                                    </td>
                                                    <td class="product-quantity">
                                                        <form class="d-flex" method="POST"
                                                              action="{% url 'cart:cart_add' item.product_obj.id %}">
                                                            {% csrf_token %}
                                                            <div class="quantity">
                                                                <input type="number" class="quantity-input"
                                                                       name="quantity"
                                                                       id="qty-1"
                                                                       value="{{ item.quantity }}"
                                                                       min="1"
                                                                >
                                                            </div>
                                                            {{ item.product_update_quantity_form.inplace }}
                                                            <button class="small btn-success" type="submit">
                                                                <i class="fa fa-refresh"></i>
                                                            </button>
                                                        </form>
                                                    </td>
                                                    <td class="product-total-price">
                                                                <span class="product-price-wrapper">
                                                                    <span class="money">
                                                                        {{ item.total_price|intcomma:False|translate_number }}
                                                                        {% trans '$' %}
                                                                    </span>
                                                                </span>
                                                    </td>
                                                </tr>
                                            {% endfor %}
                                            </tbody>
                                        </table>
                                    </div>
                                {% else %}
                                    <p>{% trans 'Cart is empty! Please add some product to the cart' %}</p>
                                    <a href="{% url 'product_list' %}">{% trans 'Go shopping' %}</a>
                                {% endif %}
                            </div>
                        </div>
                        {% if cart|length %}
                            <div class="row no-gutters border-top pt--20 mt--20">
                                <a href="{% url 'cart:cart_clear' %}">
                                    <i class="cart-form__btn flaticon flaticon-cross"> {% trans 'Empty the shopping cart' %}
                                    </i>
                                </a>
                            </div>
                        {% endif %}
                    </div>
                    <div class="col-lg-4">
                        <div class="cart-collaterals">
                            <div class="cart-totals">
                                <h5 class="font-size-14 font-bold mb--15">{% trans 'Total' %}</h5>
                                <div class="cart-calculator">
                                    <div class="cart-calculator__item order-total">
                                        <div class="cart-calculator__item--head">
                                            <span>{% trans 'Total' %}</span>
                                        </div>
                                        <div class="cart-calculator__item--value">
                                                <span class="product-price-wrapper">
                                                    <span class="money">
                                                        {{ cart.get_total_price|intcomma:False|translate_number }}
                                                        {% trans '$' %}
                                                    </span>
                                                </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <a href="{% url 'orders:order_create' %}" class="btn btn-fullwidth btn-bg-red btn-color-white btn-hover-2">
                                {% trans 'Checkout' %}
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Main Content Wrapper Start -->
{% endblock %}